<h1 class="display-1 my-4">QA Service / New</h1>

<div class="container">
	<div class="row">

		<div class="col-md-4 offset-md-4">

			<% if flash[:notice] %>
			<p class="text-success text-center"><%= flash[:notice] %></p>
			<% else flash[:alert] %>
			<p class="text-danger text-center"><%= flash[:alert] %></p>
			<% end %>

			<%= form_with model: @question, local: true do |f| %>
			<div class="form-group">
				<label for="name">Name</label>
				<%= f.text_field :name, class: 'form-control', id: "name", placeholder: "Please input name" %>
			</div>

			<div class="form-group">
				<label for="title">Title</label>
				<%= f.text_field :title, class: 'form-control', id: "title", placeholder: "Please input title" %>
			</div>

			<div class="form-group">
				<label for="content">Content</label>
				<%= f.text_area :content, class: 'form-control', id: "content", placeholder: "Please input title" %>
			</div>

			<div class="text-center">
				<%= f.submit "Save", class: 'btn btn-primary' %>
			</div>
			<% end %>

			<div class="">
				<%# <%= link_to 'Index question', root_path %>
				<%= link_to 'Index question', questions_path %>
			</div>

		</div>
	</div>
</div>
